.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
}

.main {
  margin: 16px;
}

.a-bit-opacity {
  opacity: 0.88;
}

.dogs > div {
  background: repeat center center fixed;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/7c627891307417.5e2ee30601623.jpg");
  background-size: cover;
}

.cats > div {
  background: repeat center center fixed;
  --header_background: #fcdbc6ea;
  background-image: url("https://i.pinimg.com/736x/85/97/71/8597715e33c787bd7f33626dad2194f9.jpg");
  background-size: cover;
}

.contrast {
  --background-page: white;
  --accent: black;
  --landing_text_primary: yellow;
}
